section#benefits.benefits.section
  .section__container.container
    .benefits__content
      .benefits__title.section__title.title Наши преимущества
      .benefits__block
        ul.benefits__list
          li.benefits__item
            .benefits__item-icon 
              img.benefits__item-image(src="./images/benefits-01.png", alt="Часы")
            .benefits__item-info
              .benefits__item-name.text Оперативность
              p.benefits__item-text.text
                | Подберем подходящее Вашему производству 
                | оборудование и&nbsp;рассчитаем стоимость за&nbsp;1&nbsp;день
          li.benefits__item
            .benefits__item-icon 
              img.benefits__item-image(src="./images/benefits-02.png", alt="Часы")
            .benefits__item-info
              .benefits__item-name.text Оптимальные цены
              p.benefits__item-text.text
                | Гибкая ценовая политика
                | и&nbsp;индивидуальный подход
                | к&nbsp;каждому клиенту
        ul.benefits__list
          li.benefits__item
            .benefits__item-icon 
              img.benefits__item-image(src="./images/benefits-03.png", alt="Часы")
            .benefits__item-info
              .benefits__item-name.text Гарантированный результат
              p.benefits__item-text.text
                | Увеличение объема производимой 
                | продукции в&nbsp;несколько раз
          li.benefits__item
            .benefits__item-icon 
              img.benefits__item-image(src="./images/benefits-04.png", alt="Часы")
            .benefits__item-info
              .benefits__item-name.text Доставка
              p.benefits__item-text.text
                | Доставляем оборудование
                | по&nbsp;всей территории России
                | и&nbsp;стран СНГ
