.slider-arrow {
  &-prev,
  &-next {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--border-gray-dark);
    background-color: var(--white);
    transition: var(--transition);
    cursor: pointer;
    &:hover {
      border-color: var(--border-red);
    }
  }
  &-next {
    & .slider-arrow-icon {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18px;
    fill: var(--black);
    transform: translate(-50%, -50%);
  }
}