section.examples.section.section--big.section--autoheight
  .examples__container.container
    .examples__block.examples__info
      h3.examples__title.title.title--block Продукты в&nbsp;вакуумной упаковке
      p.examples__text.text
        | Упаковка под вакуумом позволяет сохранять свежие продукты 
        | в&nbsp;их&nbsp;первоначальном виде в&nbsp;течении длительного 
        | времени. Использование вакуумной упаковки существенно расширяет 
        | возможности реализации продукции для производителей и&nbsp;уменьшает 
        | процент пищевых отходов для предприятий HoReCa.
      p.examples__text.text
        | Качество вакуумирования напрямую зависит от&nbsp;оборудования. 
        | Компания РусВак производит первоклассное вакуумное упаковочное 
        | оборудования для всех типов задач от&nbsp;настольных упаковщиков 
        | до&nbsp;промышленных двухкамерных машин. При производстве упаковочных 
        | машин РусВак используются самые надёжные комплектующие. Вакуумные насосы 
        | Bush обеспечивают лучшую степень вакуумирования и&nbsp;надёжности.
      p.examples__text.text
        | Служба сервисного обслуживания РусВак проводит обучение использованию 
        | и&nbsp;обслуживанию вакуумных упаковщиков РусВак и&nbsp;всегда готовы 
        | приехать на&nbsp;помощь.
    ul.examples__block.examples__list
      li.examples__item
        img.examples__images(src="./images/example-01.jpg", alt="Пример упаковки")
      li.examples__item
        img.examples__images(src="./images/example-02.jpg", alt="Пример упаковки")
      li.examples__item
        img.examples__images(src="./images/example-03.jpg", alt="Пример упаковки")
      li.examples__item
        img.examples__images(src="./images/example-04.jpg", alt="Пример упаковки")