section#reviews.reviews.section
  .container
    .section__title.title Мы в Instagram
    ul.reviews__list
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
      li.reviews__item
        +review(518)
    