.about {
  position: relative;
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 5;
  }
  &:after {
    left: 0;
    background-image: linear-gradient(90deg, var(--gradient-blue));
    @media (max-width: 1279px) {
      width: 100%;
    }
  }
  &:before {
    right: 0;
    background: url('../images/about-bg.webp') 50% 50%/cover no-repeat var(--text-gray);
    @media (max-width: 1279px) {
      display: none;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    min-height: inherit;
    z-index: 10;
  }
  &__info {
    max-width: 500px;
    color: var(--white);
  }
  &__button {
    margin-top: 95px;
    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }
}
