section#about.about.section
  .about__container.container
    .about__info 
      .section__title.title О компании
      p.text РусВак - российский производитель вакуумного упаковочноего оборудования.
      p.text 
        | Используя опыт наших инженеров и европейских коллег мы создаём надёжное оборудование, 
        | отвечающее всем требованиям современного производства. Производство расположено в г. Москва.
      button.about__button.button узнать подробнее