section#about.about.section
  .about__container.container
    .about__info 
      .section__title.title О компании
      p.text B-Pack - российский производитель вакуумного упаковочноего оборудования.
      p.text 
        | Используя опыт наших инженеров и европейских коллег мы создаём надёжное оборудование, 
        | отвечающее всем требованиям современного производства. Производство расположено в г. Москва.
      a.about__button.button(target="_blank" href="https://api.whatsapp.com/send?phone=79775782568&text=Здравствуйте! Меня интересует вакуумное упаковочное оборудование") узнать подробнее