.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow-card);
  transition: var(--transition);
  z-index: 100;
  @media (max-width: 1279px) {
    padding: 18px 0;
  }
  &.--hide {
    transform: translate3d(0, -100%, 0);
    box-shadow: unset;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav,
  &__phone {
    @media (max-width: 1279px) {
      display: none;
    }
  }
  &__phone {
    font-size: 20px;
    font-weight: 700;
    & .link {
      &:hover {
        color: var(--red);
      }
    }
  }
  &__burger {
    cursor: pointer;
    @media (min-width: 1280px) {
      display: none;
    }
    &.--active {
      & .header__burger-content {
        opacity: 1;
        pointer-events: unset;
      }
      & .header__burger-icon {
        & span {
          &:first-child {
            transform: translate3d(0, 8px, 0) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: scale3d(0, 0, 0);
          }
          &:last-child {
            transform: translate3d(0, -8px, 0) rotate(-45deg);
          }
        }
      }
    }
    &-icon {
      position: relative;
      width: 40px;
      height: 19px;
      z-index: 60;
      & span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--red);
        transition: var(--transition);
        will-change: transform;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: calc(50% - 1.5px);
        }
        &:last-child {
          bottom: 0;
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0;
      opacity: 0;
      background-color: var(--white);
      transition: var(--transition);
      pointer-events: none;
      z-index: 50;
      & .nav__list {
        flex-direction: column;
        align-items: center;
      }
      & .nav__item {
        margin: 25px 0;
      }
      & .nav__link {
        padding: 0;
        font-size: 18px;
      }
    }
    &-block {

    }
    &-phone {
      margin-top: 50px;
      text-align: center;
      & .link {
        font-size: 18px;
        font-weight: 700;
        &:hover {
          color: var(--red);
        }
      }
    }
  }
}
