header.header
  .container
    .header__row 
      .header__logo
        include ../../components/logo/logo
      .header__nav
        include ../../components/nav/nav
      .header__phone
        a.link(href="tel:+74951421786") 8 (495) 142-17-86
      .header__burger
        .header__burger-icon
          span
          span
          span
        .header__burger-content
          .header__burger-block
            .header__burger-nav
              include ../../components/nav/nav
            .header__burger-phone
              a.link(href="tel:+74951421786") 8 (495) 142-17-86