section#products.products.section.section--autoheight
  .products__container.container
    .products__head.section__head
      h2.products__title.section__title.title Оборудование
      ul.products__arrows 
        li.products__arrow
          .slider-arrow-prev
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
        li.products__arrow
          .slider-arrow-next
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
    .products__content 
      .products__content-slider.swiper 
        .swiper-wrapper
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик Маленький
                  .products__type.title.title--element Настольные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Глубина камеры 
                    .table__item 80&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 280&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 4&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик Плюс
                  .products__type.title.title--element Настольные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Глубина камеры 
                    .table__item 80&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 280&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 8&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик 30
                  .products__type.title.title--element Настольные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Глубина камеры 
                    .table__item 80&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 350&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 8&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик 35
                  .products__type.title.title--element Настольные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Глубина камеры 
                    .table__item 100&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 350&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 16&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide 
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик 42
                  .products__type.title.title--element Настольные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Глубина камеры 
                    .table__item 120&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 420&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 16&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Пони 2-40
                  .products__type.title.title--element Двухкампрные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Высота крышки
                    .table__item 240&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 2х620&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 63&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Пони 2-50
                  .products__type.title.title--element Двухкампрные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Высота крышки
                    .table__item 240&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 2х620&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 100&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Пони 2-75
                  .products__type.title.title--element Двухкампрные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Высота крышки
                    .table__item 250&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 2х620&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 160&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Пони 2-90
                  .products__type.title.title--element Двухкампрные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Высота крышки
                    .table__item 260&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 2х900&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 300&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать
          //- Слайд
          .products__content-slide.swiper-slide
            ul.products__slide
              li.products__slide-block
                .products__slider
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__view
                          img.products__view-image(src="./images/product.jpg", alt="Превью товара")
                .products__previews
                  .swiper
                    .swiper-wrapper 
                      .swiper-slide
                        .products__preview
                          img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              li.products__slide-block
                h3.products__subtitle.title.title--block 
                  | Жорик 42
                  .products__type.title.title--element Двухкампрные вакуум-упаковочные машины
                p.products__text.text
                ul.products__table.table.text
                  li.table__row 
                    .table__item Высота крышки
                    .table__item 280&nbsp;мм
                  li.table__row 
                    .table__item Запаечная планка 
                    .table__item 2х1100&nbsp;мм
                  li.table__row 
                    .table__item Насос Busch 
                    .table__item 300&nbsp;м<sup>3</sup>/ч
                button.products__button.button заказать

