section#products.products.section.section--autoheight
  .products__container.container
    .products__head.section__head
      h2.products__title.section__title.title Оборудование
      ul.products__arrows 
        li.products__arrow
          .slider-arrow-prev
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
        li.products__arrow
          .slider-arrow-next
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
    .products__content 
      .products__content-slider.swiper 
        .swiper-wrapper
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик Маленький',
            type: 'Настольные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '80&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '280&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '4&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_Маленький'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик Плюс',
            type: 'Настольные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '80&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '280&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '8&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_Плюс'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик 30',
            type: 'Настольные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '80&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '350&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '8&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_30'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик 35',
            type: 'Настольные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '100&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '350&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '16&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_35'
          })
          //- Слайд 
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик 42',
            type: 'Настольные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '120&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '420&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '16&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_42'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Пони 2-40',
            type: 'Двухкампрные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '240&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '2х620&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '63&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Пони_2-40'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Пони 2-50',
            type: 'Двухкампрные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '240&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '2х620&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '100&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Пони_2-50'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Пони 2-75',
            type: 'Двухкампрные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '250&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '2х620&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '160&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Пони_2-75'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Пони 2-90',
            type: 'Двухкампрные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '260&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '2х900&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '300&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Пони_2-90'
          })
          //- Слайд
          +productSlide({
            images: [
              './images/product.jpg'
            ],
            title: 'Жорик 42',
            type: 'Двухкампрные вакуум-упаковочные машины',
            info: [
              {
                key: 'Глубина камеры',
                value: '280&nbsp;мм'
              },{
                key: 'Запаечная планка',
                value: '2х1100&nbsp;мм'
              },{
                key: 'Насос Busch',
                value: '300&nbsp;м<sup>3</sup>/ч'
              }
            ],
            link: 'заказать',
            message: 'Жорик_42'
          })
