section#products.products.section.section--autoheight
  .products__container.container
    .products__head.section__head
      h2.products__title.section__title.title Оборудование
      ul.products__arrows 
        li.products__arrow
          .slider-arrow-prev
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
        li.products__arrow
          .slider-arrow-next
            svg.slider-arrow-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 240.823 240.823")
              path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z")
    ul.products__content
      li.products__content-block
        .products__slider
          .swiper
            .swiper-wrapper 
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__view
                  img.products__view-image(src="./images/product.jpg", alt="Превью товара")
        .products__previews
          .swiper
            .swiper-wrapper 
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
              .swiper-slide
                .products__preview
                  img.products__preview-image(src="./images/product.jpg", alt="Превью товара")
      li.products__content-block
        h3.products__subtitle.title.title--block Двухкамерный упаковщик РУС&nbsp;П2
        p.products__text.text
          | Предназначен для работы на&nbsp;промышленных производствах. 
          | Корпус сделан из&nbsp;толстого листа пищевой стали AISI 304, 
          | оснащён вакуумным насосом BUSCH. Основной упор сделан 
          | на&nbsp;надёжность и&nbsp;производительность.
        ul.products__table.table.text
          li.table__row 
            .table__item Тип:
            .table__item Напольный двухкамерный
          li.table__row 
            .table__item Габариты, мм:
            .table__item 1150 x 1545 x 1180 
          li.table__row 
            .table__item Вес, кг:
            .table__item 537
          li.table__row 
            .table__item Размер камеры, мм:
            .table__item 2 x (620 x 880 x 250)
          li.table__row 
            .table__item Запаечная планка, мм:
            .table__item 2 x (2 x 620)
          li.table__row 
            .table__item Укладочный стол, мм:
            .table__item 2 x (620 x 750)
          li.table__row 
            .table__item Произволительность насоса, м<sup>3</sup>/ч:
            .table__item 160
          li.table__row 
            .table__item Продолжительность цикла, сек:
            .table__item 15 - 40
          li.table__row 
            .table__item Напряжение, в:
            .table__item 380
          li.table__row 
            .table__item Мощность, квт: 
            .table__item 5,5 - 9,0
        button.products__button.button заказать
