* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

body {
  position: relative;
  margin: 0;
  color: var(--text-black);
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

img,
video,
iframe {
  max-width: 100%;
}

svg,
img {
  display: block;
  max-width: 100%;
}

img {
  border: 0;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  padding: 0;
  border: none;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: transparent;
}

textarea {
  resize: none;
}

button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(23, 37, 52, .7);
    transition: var(--transition);
    z-index: 50;
  }
  &.--tint {
    &:after {
      opacity: 1;
      pointer-events: unset;
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1279px) {
    padding: 0 30px;
  }
}

.title {
  font-size: 60px;
  font-weight: 700;
  @media (max-width: 570px) {
    font-size: 40px;
  }
  @media (max-width: 374px) {
    font-size: 36px;
  }
  &--block {
    font-size: 28px;
    @media (max-width: 374px) {
      font-size: 24px;
    }
  }
  &--element {
    font-size: 18px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.75;
  & + .text {
    margin-top: 30px;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
  &--big {
    font-size: 20px;
    @media (max-width: 374px) {
      font-size: 18px;
    }
  }
  &--mini {
    font-size: 14px;
  }
}

.section {
  padding: var(--section-offset) 0;
  min-height: 100vh;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: var(--section-offset-mobile) 0;
  }
  &--autoheight {
    min-height: unset;
  }
  &--big {
    padding: 100px 0 120px;
    @media (max-width: 767px) {
      padding: var(--section-offset-mobile) 0;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    min-height: inherit;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  &__title {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 35px;
    }
  }
}

.bold {
  font-weight: 700;
}

.link {
  display: inline-block;
  line-height: 1.3;
  border-color: unset;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: var(--transition);
  &:hover {
    background-size: 100% 1px;
  }
}

.button {
  display: inline-block;
  min-width: 260px;
  padding: 23px 15px;
  color: var(--white);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: var(--red);
  transition: var(--transition);
  &:hover {
    box-shadow: 0px 5px 15px rgba(226, 29, 36, .5);
  }
  &:active {
    transform: translate3d(0, 8px, 1px);
  }
}

.table {
  &__row {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    & + & {
      margin-top: 4px;
    }
  }
  &__item {
    color: var(--text-blue);
    &:first-of-type {
      width: 55%;
      @media (max-width: 767px) {
        width: 100%;
        font-weight: 700;
      }
    }
    &:last-of-type {
      width: 45%;
      padding-left: 10px;
      @media (max-width: 767px) {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}
