:root {
  --white: #fff;
  --black: #000;
  --red: #e21d24;
  --transparent: rgba(255, 255, 255, 0);

  --text-black: #021734;
  --text-gray: #bfb9b5;

  --border-gray: #e1e2e5;

  --transition: .55s;

  --gradient-blue: rgb(2,23,52) 0%, rgb(1,60,130) 100%;

  --section-offset: 90px;
}
