:root {
  // Цвета
  --white: #fff;
  --black: #000;
  --red: #e21d24;
  --transparent: rgba(255, 255, 255, 0);
  // Текст
  --text-black: #021734;
  --text-gray: #bfb9b5;
  --text-blue: #013c82;
  // Границы
  --border-red: #e84d52;
  --border-blue: #013b81;
  --border-gray: #e1e2e5;
  --border-gray-dark: #cfcac6;
  --border-gray-preview: #d3d6dc;
  // Фон
  --bg-gray: #f1f0ee;
  --bg-gray1: #f0f1f3;
  --bg-dark: #021f45;
  --bg-map: #010d1b;
  // Анимации
  --transition: .55s;
  // Тени
  --shadow-card: 0 5px 30px 0 rgb(63, 126, 202, 0.35);
  // Градиенты
  --gradient-blue: rgb(2,23,52) 0%, rgb(1,60,130) 100%;
  // Отступы
  --section-offset: 90px;
}
