nav.nav
  .nav__bar
  ul.nav__list
    li.nav__item.--active
      a.nav__link(href="#about") о компании
    li.nav__item
      a.nav__link(href="#products") оборудование
    li.nav__item
      a.nav__link(href="#benefits") Преимущества
    li.nav__item
      a.nav__link(href="#reviews") отзывы
    li.nav__item
      a.nav__link(href="#contacts") контакты