.nav {
  position: relative;
  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    background-color: var(--red);
    transition: var(--transition);
  }
  &__list {
    display: flex;
  }
  &__item {
    margin: 0 25px;
  }
  &__link {
    display: block;
    padding: 43px 0 37px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--transition);
    &:hover {
      color: var(--red);
    }
    &.--active {
      pointer-events: none;
      color: var(--text-gray);
    }
  }
}
